;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[reagent "1.2.0"]]

 :dev-http {8080 "public"}
 
 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-patch "/js"
        :modules {:main {:init-fn topmap-ukv.core/init}}
        :devtools {after-load topmap-ukv.core/reload!}}}}
